/* Font Face Definitions (CDN) */
@font-face {
    font-family: 'GangwonEduAll';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GangwonEduAll';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: 400;
    /* Regular fallback to Light */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GangwonEduAll';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Base Styles */
body {
    font-family: 'GangwonEduAll', 'Pretendard', 'Inter', sans-serif !important;
    background-color: #020617;
    /* slate-950 */
    color: #f8fafc;
    /* slate-50 */
}

/* Custom Utilities */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.text-glow {
    text-shadow: 0 0 20px rgba(168, 85, 247, 0.5);
}